<% if message.player == @player %>
  <div class="sendee-messages">
    <div class="message-group">
      <div class="message-username" ><%= message.player.user.username %>:</div>
      <div class="message-content bg-blue"> <%= message.content %></div>
    </div>
  </div>
<% end %>

<% if message.player != @player %>
  <div class="sender-messages">
    <div class="message-group">
      <div class="message-username" ><%= message.player.user.username %>:</div>
      <div class="message-content bg-blue"> <%= message.content %></div>
    </div>
  </div>
<% end %>

