.button {
position: fixed;
width: 10vw;
height: 10vh;
left: 10px;
top: 10px;
}

#play img {
width: 20%;
height: 10vh;
left: 40vw;
bottom: 30vh;
}

#werewolf img {
width: 300px;
height: 300px;
margin-bottom: 50px;
}

.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
    .app-container {
      width: 100vw;
      height: 100vh;
      background-color: white;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 16px;
    }

    .play-wolf {
      margin-top: 364px;
    }

    #werewolf img {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    }
}


@media (max-width: 768px) {
  /* For a screen < 540px, this CSS will be read */
  .app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  .play-wolf {
    margin-top: 200px;
  }

  #werewolf img {
  width: 250px;
  height: 250px;
  margin-bottom: 40px;
  }
}

@media (max-width: 414px) {
  /* For a screen < 540px, this CSS will be read */
  .app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  .play-wolf {
    margin-top: 134px;
  }

  #werewolf img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  }
}


@media (max-width:375px) and (max-height:812px){
  /* For a screen < 540px, this CSS will be read */
  .app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .play-wolf {
    margin-top: 164px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  #werewolf img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  }
}

@media (max-width:375px) and (max-height:667px){
  /* For a screen < 540px, this CSS will be read */
  .app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .play-wolf {
    margin-top: 104px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  #werewolf img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  /* For a screen < 540px, this CSS will be read */
  .app-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .play-wolf {
    margin-top: 84px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  #werewolf img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  }

}
