.button {
position: fixed;
width: 10vw;
height: 10vh;
left: 10px;
top: 10px;
}

#play img {
width: 20%;
height: 10vh;
left: 40vw;
bottom: 30vh;
}

#werewolf img {
width: 300px;
height: 300px;
margin-bottom: 50px;
}

.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(90vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.app-container {
  width: 100vw;
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

