
<div class="container">
  <div class="row">
    <div class="col-4 offset-4"></div>
      <h1>Le loup-garou mobile</h1>
      <div class="button btn btn-primary"><%= link_to 'JOIN A GAME', find_path %></div>
  </div>
</div>

