<h2 class="mj-text">Il manque  <span class="bolder" id="number-players">
  <% if defined?(pluralize(6 - @game.players.count, "joueur", locale: :fr)) %>
    <%= pluralize(6 - @game.players.count, "joueur", locale: :fr) %>...</span></h2>
  <% else %>
    <%= "Game starting..."  %>
  <% end %>
