<h1>Game room n°<%= @game.id %></h1>
<%= render 'player_number' %>
<h2>Last User: <%= Player.where(user: current_user, game: @game).last.character.name %></h2>
<h2><% @game.players.each { |lol| %> <%= lol.character.name %>, <% } %></h2>


<!-- <img src="https://media.giphy.com/media/g4Op234Q28w0TA8n56/200w_d.gif" alt="">
 -->

