<h1>I am the game room n°<%= @game.id %></h1>

<h2>Players : <%= @game.players.count %> / 6</h2>
<h2>Last User : <%= Player.where(user: current_user, game: @game).last.character.name %></h2>
<h2><% @game.players.each { |lol| %> <%= lol.character.name %>, <% } %></h2>
