<h1>I am the game room n°<%= @game.id %></h1>

<div id="messages">
  <% @game.messages.each do |message| %>
    <%= render 'messages/show', message: message %>
  <% end %>
</div>

<%= render 'messages/form', game: @game, message: @message %>
