.mj {
  height: 100%;
  object-fit: cover;
}

.maitre-head {
  display: flex;
  align-items: center;
}

.mj-text {
  align-self: center;
  color: white;
  margin-bottom: 0px!important;
  font-size: 15px!important;
}

// Waiting & Starting Part =======================================================

.allplayers {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #cdffeb;
  .player {
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .player-name {
      text-align: center;
      font-size: 10px!important;
    }
  }
}

.player-photo {
  align-self: center;
  .avatar {
    height: 40px;
    width: 40px;
    object-fit: center;
  }
}

// Show Role Part =======================================================

.role {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .character {
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }
  .info {
    font-weight: bolder!important;
    text-align: center;
    font-size: 14px!important;
    margin-bottom: 0;
    margin-top: 5px;
    color: white;
  }
  .description {
    border-radius: 10px;
    margin: 20px;
    background-color: #cce7ed;
    font-size: 13px!important;
    padding: 20px;
    text-align: justify;
    h4 {
      font-size: 13px!important;
    }
  }
}

.other-role {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .other-role-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    .character {
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
    .name {
      padding-top: 7px;
      color: white;
      p {
        font-size: 10px!important;
      }
    }
  }
}

// Cupidon Part ===========================================================

.his-role {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cce7ed;
  border-radius: 10px;
  padding: 20px;
  .character {
    width: 30%;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  .info {
    font-weight: bolder!important;
    text-align: center;
    font-size: 14px!important;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .description {
    width: 70%;
    font-size: 13px!important;
    text-align: justify;
    h4 {
      font-size: 13px!important;
    }
  }
}

.en-bas {
  bottom: 0vh;
}

.repos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  img {
    width: 70vw;
    object-fit: cover;
  }
}

.info-noaction {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #009f9d;
  color: white;
  height: 23px;
  h4 {
    font-size: 13px!important;
    margin: 0;
  }
}

.info-action {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #009f9d;
  color: white;
  height: 23px;
  h4 {
    font-size: 13px!important;
    margin: 0;
  }
}

.checked {
  border: 3px solid #59d4c9!important;
  border-radius: 13px;
}

.choice {
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  label:before {
    position: absolute;
    z-index: 100;
  }
  input[type=checkbox] {
    display: none;
  }
  /*pure cosmetics:*/
  label {
    margin: 10px;
  }
  .check {
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .mycheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 135px;
    h4 {
      color: white;
      font-size: 13px!important;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  .btn-valider {
    background-color: #009f9d;
    color: white;
    border-radius: 5px;
  }
}

// Role Part except Cupidon & vote  ===========================================================

.choice-One {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  label:before {
    position: absolute;
    z-index: 100;
  }
  input[type=checkbox] {
    display: none;
  }
  /*pure cosmetics:*/
  label {
    margin: 10px;
  }
  .check {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  .mycheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 135px;
    h4 {
      color: white;
      font-size: 13px!important;
    }
  }
}

// Vote part (Loup & Villageois) =================================================

.checked2 {
  border: 3px solid #59d4c9!important;
  border-radius: 50%;
}

.choice-ajax {
  display: flex;
  justify-content: space-around;
  align-items: center;
  label:before {
    z-index: 100;
  }
  input[type=checkbox] {
    display: none;
  }
  /*pure cosmetics:*/
  label {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .mycheck {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      color: white;
      font-size: 13px!important;
    }
    .puce {
      background-color: red;
      color: white;
      text-align: center;
      border-radius: 50%;
      font-weight: bolder;
      height: 15px;
      width: 15px;
      font-size: 10px!important;
      position : absolute;
      margin-left: 5px;
    }
  }
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    .player-name {
      text-align: center;
      font-size: 10px!important;
    }
  }

  .player-photo {
    align-self: center;
    .avatar {
      height: 40px;
      width: 40px;
      object-fit: center;
    }
  }
}


// End Game Part ========================================================

.win_or_loose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  .info-game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    .photo {
      .info {
        position: absolute;
        background-color: #5c979c;
        border: 2px solid white;
        border-radius: 50%;
        color:white;
        font-size: 13px!important;
        font-weight: bolder;
        width: 60px;
        height: 60px;
        z-index: 100;
        text-align: center;
        margin-top: 5px;
        top: 130px;
        p {
          padding-top: 6px;
          margin-bottom: 0px;
        }
      }
      .character {
        width: 60px;
        height: 60px;
        object-fit:cover;
        position: absolute;
        z-index: 100;
        left: 100px;
        top: 130px;
        border: 2px solid white;
        border-radius: 50%;
      }
      .badge {
        align-self:center;
        display: block;
        width: 200px;
        height: 200px;
        object-fit:contain;
        position: relative;
      }
    }
  }
}

.titre {
  h5 {
    color: white!important;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 18px!important;
    font-weight: bolder!important;
  }
}

.cupidon-historique {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  .character {
    .player {
      width: 80%;
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
    .avatar {
      margin-top: -10px;
      position: absolute;
      width: 40px;
      height: 40px;
    }
    .avatar2 {
      position: absolute;
      width: 40px;
      height: 40px;
      margin-top: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .description {
    width: 70%;
    font-size: 15px!important;
    text-align: justify;
    h4 {
      font-size: 15px!important;
    }
  }
}

.impaire {
  background-color: #cce7ed;
}

.paire {
  background-color: #e0e0e0;
}

.my-restart-button {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 120px;
    height: 50px;
    object-fit:cover;
  }
}

// Starting game -- Style ===============================================
.info-news {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #009f9d;
  color: white;
  height: auto;
  h4 {
    font-size: 13px!important;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
