 #bar {
  width: 10%;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  height: 4vh;
  bottom: 20vh;
  position: fixed;
  padding-right: 3px
}
