 #bar {
  width: 10%;
  background-color: #009F9d;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  height: 4vh;
  bottom: 20vh;
  position: fixed;
  border-radius: 5px
}
