<div class="voyante d-none">
  <% if @gamer.character.name == "voyante" %>
    <%= simple_form_for([@game, GameEvent.new]) do |f| %>
      <%= f.input :target, as: :radio_buttons, collection: @all_except_me.map { |target| target.user.username } %>
      <%= f.button :submit, class: "button" %>
    <% end %>
  <% end %>
</div>
